<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.lose.scores"
    android:versionCode="8"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" android:maxSdkVersion="22"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" android:maxSdkVersion="22"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS" android:maxSdkVersion="22"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:name=".application.ScoresApplication"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activities.LauncherActivity"
            android:theme="@style/AppTheme.Fullscreen"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.AccountActivity"
            android:theme="@style/AppTheme.Fullscreen"
            android:noHistory="true" />

        <activity android:name=".activities.ArticleListActivity"
            android:launchMode="singleTop" />

        <activity
            android:name=".activities.ArticleActivity"
            android:parentActivityName=".activities.ArticleListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.ArticleListActivity" />
        </activity>

        <activity android:name=".activities.GameListActivity"
            android:launchMode="singleTop" />

        <activity
            android:name=".activities.GameActivity"
            android:parentActivityName=".activities.GameListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.GameListActivity" />
        </activity>

        <service
            android:name=".application.ScoresAuthenticatorService"
            android:permission="android.permission.ACCOUNT_MANAGER">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <service
            android:name=".application.ScoresSyncAdapterService"
            android:exported="false">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>

        <service android:name=".application.ScoresMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service android:name=".application.ScoresInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name="io.pivotal.arca.service.OperationService"
            android:exported="false" />

        <provider
            android:name=".application.ScoresContentProvider"
            android:authorities="io.lose.scores.application.ScoresContentProvider"
            android:exported="false" />

    </application>

</manifest>